html,
body {
  height: 100%;
  background-color: #151922;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
}
.header {
  text-align: end;
}

.quote {
  display: flex;
  flex-direction: column;
  color: rgb(199, 199, 199);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 800px;
  height: 200px;
  font-size: 23px;
}
.author {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(54, 64, 99);
  align-self: flex-end;
}
.myButton {
  align-self: center;
  box-shadow: inset 0px 0px 15px 3px #262d38;
  background: linear-gradient(to bottom, #181b1f 5%, #252c3b 100%);
  background-color: #181b1f;
  border-radius: 17px;
  border: 1px solid #191d24;
  display: inline-block;
  cursor: pointer;
  color: #f5f5f5;
  font-family: Arial;
  font-size: 25px;
  padding: 16px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #42223e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.myButton:hover {
  background: linear-gradient(to bottom, #151922 5%, #181b1f 100%);
  background-color: #1b1e25;
  cursor: pointer;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.myButton:focus {
  outline: none;
}
.dropdowns {
  margin-left: 10px;
  margin-right: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3426538f;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 107px;
}
.all {
  background-color: rgba(25, 77, 25, 0.384);
}
.all a {
  color: white;
  text-decoration: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c5e;
  width: 107px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: white;
  padding: 12px 16px;

  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: rgba(43, 42, 42, 0.404);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3f1336ad;
}

.allQuotesQuote {
  color: rgba(255, 255, 255, 0.76);
  padding: 10px;
  font-size: 20px;
}
